isida.pyc
data/backup/*.acl
data/backup/*.back
data/backup/*@*
data/conflogs/chatlogs/*@*
data/conflogs/syslogs/*@*
data/conflogs/*
data/ignored.txt
data/log/*.txt
data/log/*.log
data/custom_censor.txt
data/paste/*.txt
data/paste/*.html
data/paste/*.ico
data/paste/*.jpg
data/paste/*.jpeg
data/paste/*.JPG
data/paste/*.gif
data/paste/*.png
data/paste/*.
data/poke.txt
data/stats/*
data/sqlite3.db
data/url/config.py
dev-tools/locale_generator/*.txt
dev-tools/locale_generator/*.pyc
lib/DNS/*.pyc
lib/chardet/*.pyc
lib/xmpp/*.pyc
lib/wgpapi/*.pyc
plugins/_*.py
plugins/.*.py
settings/config.py
settings/_*
tmp/isida.pid
tmp/starttime
tmp/ver*
tmp/answers.txt
